*.iml
.gradle
local.properties
.idea/caches/build_file_checksums.ser
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/checkstyle-idea.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/runConfigurations.xml
.DS_Store
/build
/captures
.externalNativeBuild
